@model FinanceW.Models.Product
@{
    ViewData["Title"] = "Crear producto";
}

<h2>Crear producto</h2>
@*<h4>Product</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeId" class="control-label"></label>
                <select asp-for="ProductTypeId" class="form-control" asp-items="Html.GetEnumSelectList<FinanceW.Models.Enum.ProductType>()"></select>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <select asp-for="BankId" class="form-control" asp-items="ViewBag.BankId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" class="form-control" asp-items="ViewBag.CurrencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" value="0" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" value="0" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CutDay" class="control-label"></label>
                <input asp-for="CutDay" class="form-control" />
                <span asp-validation-for="CutDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysToPayCut" class="control-label"></label>
                <input asp-for="DaysToPayCut" class="form-control" value="0" />
                <span asp-validation-for="DaysToPayCut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver</a>
</div>
