@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esta es una aplicación diseñada para el manejo de las finanzas personales. 
    La cual le permitirá tener mayor control sobre sus transacciones diarias.</p>
