@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jacobo Majluta<br />
    Santo Domingo, RD 11301<br />
    <abbr title="Phone">P:</abbr>
    (809) 555-5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:wilmerlora@hotmail.com">wilmerlora@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
